@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./main.css');

.container{
    max-width: 400px;
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0,0,0,0.1);
}

h1{
    text-align: center;
}

label{
    display: block;
    margin-top: 10px;
}
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    }
    .container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
    text-align: center;
    color: #333;
    }
    input[type="text"],
    input[type="email"],
    input[type="tel"],
    select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    }
    input[type="submit"] {
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    }
    input[type="submit"]:hover {
    background: #000;
    transform: scale(1.05);
    }

   .Nome{
    max-width: 400px;
    box-sizing: content-box;
    font-size: 16px;
   }

   .DT_Nascimento{
    width: 67%;
    padding: 10px;
    color: #333;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    cursor: pointer;
   }
    .number{
        max-width: 400px;
        font-size: 16px;
    }
    /*-----Footer------*/
footer {
    background-color: #f1f1f1; 
    text-align: center; 
    padding: 20px; 
    position: relative; 
    bottom: 0; 
    width: 100%;
    }
