@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./main.css');

/* .container {
    max-width: 400px;
    background-color: white;
    padding: 20px;
    margin: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
} */

/* Container */
.container {
    max-width: 600px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Título */
h1 {
    text-align: center;
    color: #333;
    font-size: 1.8em;
}

/* Labels */
label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #333;
}

/* Inputs */
input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
input[type="password"],
.DT_Nascimento,
.Endereço,
.Produto,
.number,
select {
    border: 1px solid #ccc;
    border-radius: 5px;
    color: #333;
    font-size: 1rem;
    padding: 10px 15px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.DT_Nascimento:hover,
.Endereço:hover,
.Produto:hover,
.number:hover {
    border-color: #0056b3;
    background-color: #f7f7f7;
}

.DT_Nascimento:focus,
.Endereço:focus,
.Produto:focus,
.number:focus {
    border-color: #0056b3;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Botão */
button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    width: 100%;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}