@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");

@import url("./main.css");

.container {
  max-width: 400px;
  background-color: white;
  padding: 20px;
  margin: auto;
  border-radius: 8px;
  box-shadow: 0 0 10px rgb(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
}


label {
  display: block;
  margin-top: 10px;
}

select,
input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    color: #333;
    line-height: 1.6;
    padding: 20px;
} */

.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1{
  text-align: center;
  color: #333;
} 
  

input[type="text"],
input[type="email"],
input[type="tel"],
select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="submit"] {
  background: #28a745;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}

input[type="submit"]:hover {
  background: #218838;
}

/*-----editado por Esmael
   a aparte de baixo------*/


/* Título e descrição */
h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 2rem;
  color: #004aad;
}
        
p {
  text-align: center;
  margin: 1rem 2rem;
  font-size: 1rem;
}
        
form label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #2503e7;
}


form input[type="text"],
form input[type="email"] {
  padding: 10px 3px 10px 3px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 2px;
  margin-bottom: 1rem;
}


form input[type="submit"] {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: #004aad;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form input[type="submit"]:hover {
  background-color: #00308f;
}
        
/* Formulário de contato */
form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 2rem auto;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* Seção de contato */

.contato {
max-width: 300px;
padding: 1rem;
background-color: #f9f9f9;
border-radius: 8px;
margin: 2rem auto;
font-size: 1rem;
color: #555;
}

.contato p b {
  color: #004aad;
  }


/* Responsividade */
@media (max-width: 768px) {
.header-ul {
  flex-direction: column;
}
}
form {
  width: 90%;
  padding: 1rem;
}


.contato {
  width: 90%;
  padding: 1rem;
}

.footer p {
  font-size: 0.9rem;
}

/* Rodapé */
.footer {
  background-color: #004aad;
  color: #fff;
  text-align: center;
  padding: 1rem;
  bottom: 0;
  width: 100%;
}
            