@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./main.css');

/*-----Carrossel------*/
.c-item {
    height: 650px;
}

.c-img {
    height: 100%;
    object-fit: cover;
    filter: brightness(0.4);
}

.slide1-subtitle {
    margin: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 28px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slide1-title {
    margin: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 80px;
    font-family: "Roboto Condensed";
}

.slide2-subtitle {
    margin: 40px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.slide2-title {
    margin: 50px;
    padding-top: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 80px;
    font-family: "Roboto Condensed";
}

.slide3-title {
    margin: 30px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 80px;
    font-family: "Roboto Condensed";
}

.slide3-text {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.conteiner {
    display: flex;
    text-align: center;
    padding-left: 350px;
}

.conteiner>div>div>p {
    font-size: larger;
}

div>h2 {
    padding-left: 750px;
    font-size: 45px;
}

.Galeria {
    display: flex;
    align-items: center;
    /* gap: 20px; */
    /* background-color: #fff; */
    /* padding: 230px; */
    /* max-width: 800px; */
}

.Galeria img {
    width: 50%;
    /* max-width: 600px; */
    height: auto;
}

.Galeria h3 {
    color: #2f6ef8;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    padding-left: 0px;
}

.Galeria p {
    color: #555;
    line-height: 1.6;
    justify-content: center;
    display: flex;
    padding-left: 30px;
    font-size: larger;
}

.Galeria>div {
    display: flex;
    flex-direction: column;
}

.Galeria>div>a {
    display: flex;
    justify-content: center;
}

.Galeria>div>a>button {
    padding: 15 px 20px;
}

.content-odd>.Galeria:nth-child(odd) {
    flex-direction: row-reverse;

}