@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./main.css');



/* card de compras */

.conteiner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
    margin: 10px;
}

.card-img {
    width: 100%;
    height: auto;
}

.card-body {
    padding: 15px 10px 15px 10px;
}

.card-title {
    font-size: 1.5em;
    margin: 0;
}

.card-description {
    color: #666;
    margin: 10px 0;
}

.card-price {
    font-size: 1.2em;
    color: #e74c3c;
}

.card-button {
    background-color: #007BFF ;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #5581b0;
}

.tabs {
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;

}

.tab {
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.tab.active {
    background-color: #007BFF;
    color: white;
}

.content {
    border-radius: 10px;
    padding: 100px ;
    display: none;
    background-color: white;
}

.content.active {
    display: flex;
}
