@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./main.css');


/* card de compras */

.conteiner {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    /* max-width: 1200px;  */
    margin: auto;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}


.card-img {
    width: 100%;
    height: 180px;
}

.card-body {
    padding: 15px 10px 15px 10px;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    height: auto;

}

.card-title {
    font-size: 1.5em;
    margin: 0;
}

.card-description {
    color: #666;
    margin: auto;
    text-align: center;
}

.card-price {
    font-size: 1.2em;
    color: #e74c3c;
}

.card-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
}

.card-button:hover {
    background-color: #5581b0;
}

.tabs {
    display: flex;
    cursor: pointer;
    padding-bottom: 10px;

}

.tab {
    margin-right: 20px;
    padding: 10px;
    border: 1px solid #ffffff;
    border-radius: 5px;
}

.tab.active {
    background-color: #007BFF;
    color: white;
}

.content {
    border-radius: 10px;
    padding: 100px;
    display: none;
    background-color: white;
}

.content.active {
    display: contents;
    padding: auto;
}

.cart {
    width: 300px;
    background-color: #fff;
    padding: 1em;
    box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 10%;
    right: 0;
    display: none;
    z-index: 1000;

}

#cartItems {
    padding: 20px;
    box-shadow: 1px 6px 6px #00000030 inset;
    overflow-y: scroll;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.close-cart {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
    display: block;
    margin-top: 10px;
}

.cart-item {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 1.5em;
    cursor: pointer;
    color: #007BFF;
}

.cart-count {
    background-color: #fff;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    padding: 0px 5px;
    font-size: 0.8em;
    position: absolute;
    top: -10px;
    right: -10px;
}

.cart-item img {
    color: #fff;
    padding-bottom: 20px;
    width: 30px;
    height: 30px;
}