@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./main.css');
<<<<<<< HEAD

.card{
    background-color: #fff;
    margin: 4px;
    border-radius: 4px;
    max-width: 400px;
}

.card-section{
    padding: 10px 16px 10px  16px;
    display: flex;
    flex-direction: column;
}

#areaProdutos {
    width: 90%; 
    margin: auto; 
    padding: 20px; 
    border: 1px solid #ddd; 
    border-radius: 8px; 
    background-color: #f9f9f9; 
    }
    
    table {
    width: 100%; 
    border-collapse: collapse; 
    }
    
    td {
    text-align: center; 
    vertical-align: top; 
    }
    
    img {
    max-width: 100%; 
    height: auto; 
    }
    
    .tituloProduto {
    font-size: 1.2em; 
    font-weight: bold; 
    margin: 10px 0;
    }
    
    .precoProduto {
    font-size: 1em;
    color: #2C3E50; 
    margin: 5px 0; 
    }
    
  
    td:hover {
    background-color: #e7f3fe; 
    cursor: pointer;
    }
=======
>>>>>>> 809aeee0c3d6bb404a50fdab0932b41b0f0578c5
